# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BlazorCRUD.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\BlazorProject\Blazor2\Blazor\BlazorCRUD\.idea\.idea.BlazorCRUD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
